---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TextBlock from "../components/TextBlock.astro";
import GlossaryEntry from "../components/GlossaryEntry.astro";

const meta_desc = "A clear, no-nonsense glossary that breaks down common design and branding jargon to help you communicate with confidence.";
---

<Layout title="Design Glossary" desc={meta_desc}>
  <!-- header -->
  <Header title="Glossary" subtitle="Jargon. Busted." />
  <TextBlock title="intro">
    <p>
      The clarity of your communication is directly linked to the success of any project or collaboration. <br />
    </p>
    <p>This reference is growing list of definitions to common design and branding terms.</p>
    <blockquote>
      It’s a lack of clarity that creates chaos and frustration. Those emotions are poison to any living goal.
      <cite>Steve Maraboli</cite>
    </blockquote>
  </TextBlock>

  <TextBlock title="B">
    <GlossaryEntry title="Brand" phonics="/brand/" type="noun">
      <p>The overall experience felt by a customer during any interaction with an organisation and the perceptions they are left with.</p><p>
        Brands are often built strategically by designing each touchpoint with the aim of defining a unique and consistent experience every time a customer should come in to contact with the organisation.
      </p>
    </GlossaryEntry>
    <GlossaryEntry title="Brand Identity" phonics="/brand/-/ʌɪˈdɛntɪti/" type="noun">
      <p>TA visual representation of a brand.</p><p>Usually constructed around a unique icon, symbol or logotype. Used to visually display a brand in a recognisable and consistent way.</p>
    </GlossaryEntry>
    <GlossaryEntry title="Brand Strategy" phonics="/brand/-/ˈstratɪdʒi/" type="noun">
      <p>A plan of action based on the findings of a discovery session, used to help achieve company goals by influencing consumers preconception and expectations of the brand.</p>
    </GlossaryEntry>
  </TextBlock>

  <TextBlock title="D">
    <GlossaryEntry title="Deck" phonics="/dɛk/" type="noun">
      <p>A document made up from a series of pages or slides used as a visual aid that can be used in coordination with an oral presentation.</p>
    </GlossaryEntry>
    <GlossaryEntry title="Discovery" phonics="/dɪˈskʌv(ə)ri/ " type="noun"
      ><p>The process of examination used to better understand a brands role and position in its marketplace and gain insights into the ideal clients.</p><p>Discovery is essential in uncovering a brands strengths, weaknesses and what makes it valuable to prospective clients.</p>
    </GlossaryEntry>
  </TextBlock>

  <TextBlock title="F">
    <GlossaryEntry title="Favicon" phonics="/ˈfavɪkɒn/" type="noun">
      <p>A 16x16 pixel icon associated with a website, usually displayed in the tab of the user’s browser or as part of a websites bookmark listing to aid in quick recognition.</p>
    </GlossaryEntry>
  </TextBlock>

  <TextBlock title="K">
    <GlossaryEntry title="Kerning" phonics="/ˈkəːnɪŋ/" type="noun">
      <p>The spacing between letters or characters in a piece of text.</p>
    </GlossaryEntry>
  </TextBlock>

  <TextBlock title="L">
    <GlossaryEntry title="Logo" phonics="/ˈləʊɡəʊ/ " type="noun">
      <p>The general term used to reference any unique mark or type used to identify a company or organisation.</p>
    </GlossaryEntry>
    <GlossaryEntry title="Logomark" phonics="/ˈləʊɡə(ʊ)mɑːk/" type="noun">
      <p>An icon or symbol used to identify a brand without requiring the use of the brand name or any accompanying words.</p><p>Also known as a <i>brandmark</i>.</p>
    </GlossaryEntry>
    <GlossaryEntry title="Logotype" phonics="/ˈlɒɡə(ʊ)tʌɪp/" type="noun">
      <p>A custom or edited typeface used to uniquely identify a company or organisation.</p><p>As known as a <i>wordmark</i>.</p>
    </GlossaryEntry>
  </TextBlock>

  <TextBlock title="P">
    <GlossaryEntry title="Positioning" phonics="/pəˈzɪʃ(ə)n/" type="verb">
      <p>The process used in business that aims to move and solidify a distinct position in the market for a brand to occupy.</p>
    </GlossaryEntry>
  </TextBlock>

  <TextBlock title="S">
    <GlossaryEntry title="Signature" phonics="/ˈsɪɡnətʃə/" type="noun">
      <p>The name for a set structural relationship found between the brand logo elements. This structure defines the position of elements that may include a logotype, a logomark and tagline.</p>
    </GlossaryEntry>
    <GlossaryEntry title="Slogan" phonics="/ˈsləʊɡ(ə)n/" type="noun">
      <p>a short, striking and memorable phrase that encapsulates the brands core values, personality and positioning while distinguishing it from any competitors.</p><p>From the old Scottish Gaelic ‘<em>slaugh-ghaiirm’</em> meaning ‘war-cry’.</p><p>
        Also known as a <strong>tagline</strong>, <strong>catchphrase</strong> or <strong>motto</strong>.
      </p>
    </GlossaryEntry>
    <GlossaryEntry title="Stylescape" phonics="/stʌɪlskeɪp/" type="noun">
      <p>A tool used to express and clarify the proposed visual language used in a design project.</p>
    </GlossaryEntry>
  </TextBlock>

  <TextBlock title="T">
    <GlossaryEntry title="Touchpoint" phonics="/ˈtʌtʃpɔɪnt/" type="noun">
      <p>Any point at which contact or interaction can occur between an organisation and it’s customers. A touchpoint can be physical (ie. a face to face interaction in a store) or digital (ie. a website or app).</p>
    </GlossaryEntry>
  </TextBlock>

  <div class="contact-me max-width">
    <h2 class="display">Need more Clarity?</h2>
    <a href="/#contact-section" class="button-primary">Contact me</a>
  </div>
</Layout>
