---
const { company, role, date, description } = Astro.props;
---

<div class="cv-exp">
  <div>
    <h3 class="h4 display">{company}</h3> / {role}
  </div>
  <small>{date}</small>
  <div set:html={description} />
</div>

<style>
  .cv-exp {
    break-inside: avoid;
  }
  .h4.display {
    display: inline;
  }
</style>
