---
const year = new Date().getFullYear();
---

<footer>
  <div class="max-width">
    <div class="footer-left">
      <img src="/media/as-lockup.png" alt="Adam Snape Creative Services Logo" />
      <div class="h2 display">Building brilliant things with<br />brilliant people since 2019</div>
    </div>
    <div class="footer-right">
      <a href="tel:447969655308">+44 (0)7969 655 308 </a><br />
      <a href="mailto:adam@snape.xyz">adam@snape.xyz</a>
      <p>
        Buxton, Derbyshire, UK <br />
        © copyright <b>Adam Snape {year}</b>
      </p>
    </div>
    <div class="footer-bottom">
      quick links: <a href="/">home</a> | <a href="/glossary">glossary</a> | <a href="/privacy-policy">privacy policy</a>
    </div>
  </div>
</footer>
