---
const { title, phonics, type, definition } = Astro.props;
const hasData = phonics || type;
---

<div class="definition">
  <h3>{title}</h3>
  <div class="definition-content">
    {
      hasData ? (
        <p>
          <span class="display">{phonics}</span>&nbsp;&nbsp;{type}
        </p>
      ) : (
        ""
      )
    }
    <slot />
  </div>
</div>
