---
const { title, subtitle } = Astro.props;
import logo from "../assets/media/as-logo.png";
import { Image } from "astro:assets";
---

<header class="max-width">
  <div class="h1-wrapper">
    <h1>{title}</h1>
    <p>{subtitle}</p>
  </div>
  <Image src={logo} alt="Adam Snape Creative Services Logo" loading="eager" width={80} densities={[1, 2]} />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 5rem;

    & h1,
    & p {
      margin: 0 0 -0.75rem;
    }
  }
</style>
