---
import profile from "../assets/media/adam-snape_halftone.png";
import { Image } from "astro:assets";
---

<div class="hero">
  <div class="max-width">
    <h1>Helping independent businesses find their voice.</h1>
    <div class="profile-img">
      <Image src={profile} alt="Adam Snape Creative Services Logo" loading="eager" width={900} densities={[1, 2]} />
    </div>
    <p>I help inspiring independent business owners uncover the true personality and positioning of their brand and transform that clarity into strategic visual identities and impactful design.</p>
    <div class="buttons">
      <!-- <a href="" class="button-secondary">Learn more</a> -->
      <a href="/#contact-form" class="button">Book your Call</a>
    </div>
  </div>
</div>

<style>
  .hero {
    transform: scaleX(100%);
    filter: brightness(100%);
    display: grid;
    top: 0;
    z-index: 2;
    padding: 0 0 2rem;
    overflow: hidden;
    transform-origin: left center;

    & small {
      padding: 0.75em 1em;
      border: 1px solid;
      border-left-width: 1.5em;
      margin: 0.5em 0 0.5em 0;
      display: inline-block;
    }

    & hr {
      border: 2px solid var(--clr-white);
      margin: 3rem 0;
    }

    & img {
      mix-blend-mode: darken;
    }

    & .subtitle {
      scale: 0.7;
      display: block;
      transform-origin: left center;
      font-weight: normal;
      font-family: var(--ff-body);
      color: var(--clr-white);
      line-height: 1.6;
    }

    & .max-width {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 1px solid var(--clr-grey);
      border-top: none;
      background-color: white;

      &::after,
      &::before {
        width: 0.75rem;
        height: 0.75rem;
        display: block;
        content: "";
        position: absolute;
        top: 100%;
        translate: 100% 0%;
        right: 0;
        border-top: 1px solid var(--clr-grey);
        border-left: 1px solid var(--clr-grey);
      }

      &::before {
        left: 0;
        translate: -100% 0%;
        rotate: 90deg;
      }
    }

    & h1 {
      grid-area: 1 / 2 / 2 / 3;
      margin-bottom: 0;
    }
    & .profile-img {
      grid-area: 1 / 1 / 4 / 2;
      position: relative;
      display: block;
      background-color: white;
      margin: 1rem 0 0;

      &::after {
        background-color: var(--clr-primary);
        mix-blend-mode: lighten;
        content: "";
        position: absolute;
        display: block;
        inset: 0;
      }
      & img {
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        mix-blend-mode: darken;
      }
    }
    & p {
      grid-area: 2 / 2 / 3 / 3;
    }
    & .buttons {
      grid-area: 3 / 2 / 4 / 3;
    }
  }

  .hero--sticky {
    box-shadow: 5px 0 100vw black;
    position: sticky;
  }

  :global(.hero--sticky + .page-section) {
    margin-top: -100svh;
  }

  .logo-wrapper {
    display: flex;
    gap: 2rem 1rem;
    align-items: center;
    flex-wrap: wrap;

    & h2 {
      margin: 0;
    }
  }

  @media screen and (width > 425px) {
    .hero small {
      margin: 0.5rem.0 0.5rem auto;
    }
  }
  @media screen and (width > 768px) {
    .hero .max-width {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto;
      grid-column-gap: 2rem;
      grid-row-gap: 0px;
    }

    .hero .profile-img {
      margin: 0 0 max(-5vw, -3rem);
    }
  }
</style>
