---
const { title } = Astro.props;
---

<div class="page-section max-width">
  <div class="heading-wrapper">
    <h2 class="heading">{title}</h2>
  </div>
  <div class="content rtf">
    <slot />
  </div>
</div>

<style>
  .max-width {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;
  }

  .heading-wrapper {
    flex: 1 1 25%;
    min-width: 10rem;
  }

  .content {
    flex: 1 1 70%;
  }

  blockquote {
    margin-top: 3rem;
  }
</style>
