---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import TextBlock from "../../components/TextBlock.astro";
---

<Layout title="Previous Work">
  <!-- header -->
  <Header title="Previous Work" />
  <TextBlock title="Projects">
    <p>
      The clarity of your communication is directly linked to the success of any project or collaboration. <br />
    </p>
  </TextBlock>

  <div class="contact-me max-width">
    <h2 class="display">Got a Project Idea?</h2>
    <a href="/#contact-form" class="button-primary">Let's work together</a>
  </div>
</Layout>
