@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2');
}

:root {
    isolation: isolate;

    --clr-primary: #1D37B5;
    --clr-secondary: #00FFD4;
    --clr-accent: #FF0059;

    --clr-white: #F5F5F5;
    --clr-grey: #d3d3d3;
    --clr-black: #030A2B;

    --clr-success: #9BEB50;
    --clr-warning: #FFD037;
    --clr-error: #FF0059;
    --clr-info: #7209B7;

    --fs-xs: clamp(0.61rem, -0.07vi + 0.63rem, 0.56rem);
    --fs-s: clamp(0.73rem, 0.03vi + 0.72rem, 0.75rem);
    --fs-p: clamp(0.88rem, 0.2vi + 0.83rem, 1rem);
    --fs-h3: clamp(1.05rem, 0.45vi + 0.94rem, 1.33rem);
    --fs-h2: clamp(1.26rem, 0.82vi + 1.06rem, 1.78rem);
    --fs-h1: clamp(1.51rem, 1.36vi + 1.18rem, 2.37rem);

    --ff-body: "Satoshi", 'Courier New', Courier, monospace;
    --ff-heading: "Space Grotesk", Helvetica, Arial, sans-serif;
}

/* GLOBAL */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--ff-body), system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--clr-primary);
    background-color: var(--clr-white);
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

hr {
    margin: 1.5rem 0;
    border: none;
    height: 1px;
    background-color: var(--clr-grey)
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

[hidden] {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.max-width {
    width: min(90vw, 1400px);
    padding: min(5vw, 3rem);
    margin: 0 auto;
}

.right {
    text-align: right;
    float: right;
}


/* TEXT */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.display {
    font-family: var(--ff-heading);
    font-weight: 700;
    margin-top: 0;
    letter-spacing: -0.05ch;
    text-wrap: pretty;
    line-height: 1.1;
}

h1,
.h1 {
    font-size: var(--fs-h1);
}

h2,
.h2 {
    font-size: var(--fs-h2);
}

h3,
.h3 {
    font-size: var(--fs-h3);
}

h4,
.h4 {
    font-style: italic;
    font-size: var(--fs-h3);
}

small {
    font-size: var(--fs-xs);
}

.rtf,
p {
    line-height: 1.6;
    color: #1D37B5;
}

.rtf {
    columns: 30ch;
    column-gap: 2rem;

    & p {
        break-inside: avoid;

        &:first-child {
            margin-top: 0;
        }
    }
}

a {
    /* color: var(--clr-accent); */
    text-decoration-color: var(--clr-secondary);
    text-decoration-thickness: 2px;
    font-style: italic;
    transition: color 0.1s ease-out;
    position: relative;
    min-height: 24px;
    place-content: center;
    display: inline-block;
    z-index: 1;


    &:not(.no-effect):hover {
        color: var(--clr-primary);

        &::before {
            width: 105%;
            width: calc(100% + 1ch);
        }
    }

    &::before {
        content: "";
        display: block;
        background: var(--clr-secondary);
        width: 0%;
        margin-left: -0.5ch;
        position: absolute;
        inset: 0;
        z-index: -1;
        transition: width 0.1s ease-out;
    }


}

blockquote {
    font-size: var(--fs-h2);
    font-style: italic;
    line-height: 1;
    position: relative;
    column-span: all;
    margin-inline: auto;
    max-width: 30rem;
    font-family: var(--ff-heading);
    text-wrap: pretty;

    &::before {
        content: "\"";
        font-family: var(--ff-heading);
        font-size: calc(var(--fs-h1) * 5);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-75%, -25%);
        opacity: 0.1;

    }
}

cite {
    font-size: var(--fs-p);
    font-family: var(--ff-body);
    display: block;
    margin: 1rem 2rem;
    text-align: right;
    font-weight: 400;


    &::before {
        content: "— "
    }
}

/* interactions */

[class|='button'] {
    padding: 0.65em 1em;
    border-radius: 100px;
    corner-shape: squircle;
    font-size: var(--fs-p);
    font-family: var(--ff-heading);
    font-style: normal;
    line-height: 1;
    position: relative;
    text-decoration: none;
    margin: 0.5em;
    display: inline-block;
    cursor: pointer;
    background-color: var(--clr-secondary);
    border: solid 2px var(--clr-secondary);
    color: var(--clr-primary);
    overflow: hidden;
    z-index: 1;
    transform: scale(1);
    filter: brightness(1);
    transition: transform ease-in 0.125s, filter ease-in 0.125s;


    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 135%;
        height: 100%;
        clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
        aspect-ratio: 1 / 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform ease-in 0.25s;
        transform: translate(-110%, 0%);
        background-color: var(--clr-white);
    }

    &:hover {
        transform: scale(1.05);
        filter: brightness(1);

        &::before {
            transform: translate(0, 0) scale(2);
        }
    }

    &:active {
        transform: scale(0.95);
        filter: brightness(0.98);
    }
}

.button-secondary {
    background-color: transparent;
}

/* footer */
footer {
    border-top: 1px solid var(--clr-grey);
    background-color: white;
    margin: 3rem 0 0;

    & .max-width {
        padding: 4rem 3rem 3rem;
        margin-top: -1rem;
        border-left: 1px solid var(--clr-grey);
        border-right: 1px solid var(--clr-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 3rem;
    }

    & img {
        max-height: 5.2rem;
    }

    & p {
        margin-block: 0;
    }

    & * {
        font-size: var(--fs-s);
    }
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    width: min(500px, 100%);
}

.location {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;

    &>* {
        flex: 1 0 max-content;
    }

    & img {
        object-fit: contain;
    }
}

.footer-bottom {
    width: 100vw;

    & a {
        color: var(--clr-primary)
    }
}

.contact-me {
    text-align: center;
    border-top: 1px solid;
    padding: 4rem 0;
}

/* glossary */
.definition {
    break-inside: avoid;
    padding: 0 1.5rem;
    margin-bottom: 2rem;

    & h3 {
        border: 1px solid;
        border-bottom: 0;
        margin: 0;
        padding: .5rem;
    }

    & p {
        text-align: justify;
    }
}

.definition-content {
    border: 1px solid;
    padding: .5rem 1rem;
}