---
import "../assets/styles/global.css";
import Footer from "../components/Footer.astro";
import Schema from "../components/Schema.astro";
import OgTags from "../components/OgTags.astro";
import PostHog from "../components/posthog.astro";
const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/media/favicon.ico" />
    <link rel="icon" type="image/png" sizes="48x48" href="/media/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/media/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | Adam Snape - Brand Strategy & Design` : `Adam Snape - Brand Strategy & Design for Professionals | Find Your Clarity`}</title>
    <meta name="description" content={desc} />
    <link rel="canonical" href={Astro.url} />
    <link rel="alternate" hreflang="en-gb" href="https://adamsnape.com/" />
    <link rel="alternate" hreflang="x-default" href="https://adamsnape.com/" />
    <OgTags />
    <Schema />
    <PostHog />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
    <script src="https://embed.small.chat/T0A58AXEG8ZC0A4P1X6CUB.js" async></script>
  </body>
</html>
